<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Adventure at Google</title>
    <link
  </head>
  <body>
    <h1>'The Struggle Situation '</h1>
    <p>We are waiting for the line to die down. We hope you have fun at this upcoming event.</p>
    <p>The door opens to a car . . .</p>
    <ul>
      <li><a href= "/run">Call 911</a></li>
      <li><a href= "/run">Take a pic</a></li>
      <li><a href= "/run"</a>Hop in</li>
      <li><a href= "/run"</a>Run away</li>
    </ul>
</body>
</html>
